body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.margin-bottom {
    margin-bottom: 20px;
}

.text-small {
    font-size: 14px;
}

.text-grey {
    color: grey;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-intend-2 {
    text-indent: 2px;
}

.text-intend-4 {
    text-indent: 4px;
}

.text-intend-6 {
    text-indent: 6px;
}

.text-intend-8 {
    text-indent: 8px;
}

.text-intend-10 {
    text-indent: 10px;
}

.table-top-parent {
    background-color: rgb(250, 250, 250);
}

.table-parent {
    background-color: rgb(255, 255, 255);
}
